
@font-face {
    font-family: "jamun";
    src: url(/assets/css/GoogleSans-Medium.ttf) format("truetype");
}
* {
	font-family: "jamun",arial, sans-serif;
	color: #545454;
}

html,
body {
	margin: 0;
	height: 100%;
	font-family: "jamun";
}

.wrapper {

	display: flex;
    flex-direction: column;
	min-height: 100%;
	font-family: "jamun";
	
}

.wrapper.indexPage {
	justify-content: center;
	font-family: "jamun";
}

.mainSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "jamun";
}

.mainSection .searchContainer {
	margin-top: 20px;
	width: 100%;
	font-family: "jamun";
}

.mainSection .searchContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "jamun";
}

.searchContainer .searchButton {

	color: #757575;
    background-color: #f5f5f5;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
	font-family: "jamun";
}

.mainSection .searchContainer .searchBox {
	border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    width: 70%;
    max-width: 630px;
	color: #000;
	font-family: "jamun";
}

.mainSection .logoContainer {
	width: 220px;
	text-align: center;
	font-family: "jamun";
}

.logoContainer img {
	width: 100%;
}

.header {
	background-color: #FAFAFA;
	border-bottom: 1px solid #ebebeb;
	font-family: "jamun";
}

.wrapper .headerContent {
	display: flex;
	align-items: center;
	font-family: "jamun";
}

.headerContent .logoContainer {
	width: 150px;
	padding: 5px 20px;
	box-sizing: border-box;
	font-family: "jamun";
}

.headerContent .searchContainer {
	flex: 1;
	font-family: "jamun";
}

.headerContent .searchContainer form {
	margin: 15px 0 28px 0;
	font-family: "jamun";
}

.headerContent .searchBarContainer {
	height: 44px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.06);
	width: 70%;
	max-width: 630px;
	box-sizing: border-box;
	display: flex;
	font-family: "jamun";
}

.headerContent .searchBarContainer:hover {
	height: 44px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
	width: 70%;
	max-width: 630px;
	box-sizing: border-box;
	display: flex;
	font-family: "jamun";
}

.headerContent .searchBarContainer .searchBox {border: none;
    height: 44px;
    border-radius: 33px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    width: 93%;
    max-width: 630px;
    color: #000;
    font-family: "jamun";
}

.headerContent .searchBarContainer .searchButton {
	background-color: #fff;
	height: 44px;
	margin-top: 0;
	width: 44px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	padding:11px;
	font-family: "jamun";
}

.headerContent .searchBarContainer .searchButton img {
	width: 22px;
}

.tabsContainer {
	margin-left: 150px;
	font-family: "jamun";
}

.tabsContainer .tabList {
	padding: 0;
	margin: 0;
	font-family: "jamun";
}

.tabsContainer .tabList li {
	display: inline-block;
	padding: 0 16px 12px 16px;
	color: #777;
	font-size: 13px;
	font-family: "jamun";
}

.tabsContainer .tabList li a {
	text-decoration: none;
	font-family: "jamun";
}

.tabsContainer .tabList li.active {
	border-bottom: 3px solid #1A73E8;
	font-family: "jamun";
}

.tabsContainer .tabList li.active a {
	font-weight: bold;
	color: #1A73E8;
	font-family: "jamun";
}

.mainResultsSection {
	flex: 1;
	font-family: "jamun";
}

.mainResultsSection .resultsCount {
	font-size: 13px;
	color: #808080;
	margin-left: 150px;
	font-family: "jamun";
}

.mainResultsSection .siteResults {
	font-family: "jamun";
}

.resultContainer {
	display: flex;
	margin-left: 150px;
	flex-direction: column;
	margin-bottom: 15px;
	margin-right: 10%;
	font-family: "jamun";
}
.resultContainer:hover {
	margin-left: 143px;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 7px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    padding-top: 4px;
    padding-bottom: 4px;
	padding-right: 5px;
	flex-direction: column;
	margin-bottom: 7px;
	margin-right: 10%;
	font-family: "jamun";
}

.resultContainert {
	display: flex;
	flex-direction: column;
	font-family: "jamun";
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 2px 50px 12px 150px;
	font-family: "jamun";
	/* height: 110px; */
	border-radius: 5px;
	border: none;
	background-color: #fff;
	box-shadow: 0 0px 10px 0 rgba(0,0,0,0.26), 0 0 0 6px rgba(0,0,0,0.1);
	display: flex;
	font-family: "jamun";
}

.resultContainert p{
	margin-left: 2%;
}

.resultContainer .title {
	margin: 0;
	font-family: "jamun";
}

.timeshow p{
	font-family: "jamun";
	margin: 0%;
}

.resultContainer .title a {
	color: #1a0dab;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	font-family: "jamun";
}

.resultContainer .title a:hover {
	text-decoration: underline;
	font-family: "jamun";
}

.resultContainer .url {
	color: #006621;
	font-size: 14px;
	font-family: "jamun";
}

.resultContainer .description {
	font-size: 12px;
	font-family: "jamun";
}
.paginationContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
	font-family: "jamun";
}

.pageButtons {
	display: flex;
	font-family: "jamun";
}

.pageNumberContainer img {
	height: 37px;
}

.pageNumberContainer,
.pageNumberContainer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-family: "jamun";
}

.pageNumber {
	color: #000;
	font-size: 13px;
	font-family: "jamun";
}

a .pageNumber {
	color: #4285f4;
	font-family: "jamun";
}

.mainResultsSection .imageResults {
	margin: 20px;
	font-family: "jamun";
}

.gridItem {
	position: relative;
	font-family: "jamun";
}

.gridItem img {
	max-width: 200px;
	min-width: 50px;
	visibility: hidden;
}

.gridItem .details {
	visibility: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 11px;
	padding: 3px;
	box-sizing: border-box;
	white-space: nowrap;
	font-family: "jamun";
}

.gridItem:hover .details {
	visibility: visible;
	font-family: "jamun";
}


.headline{
    position:absolute;
    top:0;
    right:0;
    margin-right: 10px;
    font-size: 75%;
	font-family: "jamun";
   }


.headline a {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	transition-duration: 500ms;
	font-family: "jamun";
}

.headline a:hover {
	text-decoration: underline;
	transition-duration: 500ms;
	font-family: "jamun";
}

.footer {
   
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 75%;
	font-family: "jamun";
}

.footer a {
	text-decoration: none;
    font-weight: normal;
	font-family: "jamun";
}

.footer a:hover {
    text-decoration: underline;
    font-size: 100%;
    color: #08d0f3;
    transition-duration: 500ms;
	font-family: "jamun";
}

.information a:hover {
    text-decoration: underline;
    font-size: 100%;
    color: #000000;
    transition-duration: 500ms;
	font-family: "jamun";
}

.information a {
	text-decoration: none;
    transition-duration: 500ms;
	font-family: "jamun";
}

.headertab p{
    font-family: "jamun", Verdana, Tahoma;
}

p.headertab {
	font-family: "jamun";
}
hr.info{
	visibility: hidden;
	display: none;
}

p.headertab {
	font-family: "jamun";
}
hr.info{
	visibility: hidden;
	display: none;
}